<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Roduna_Mekh_Project.Properties.Settings.Roduna_MekhFGConnectionString"
            connectionString="Data Source=5.58.28.5,1433;Initial Catalog=Roduna_MekhFG;User ID=st;Password=111"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
</configuration>